form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 1rem;
    padding: 1rem;
    border-color: $clr-secondary; 
    border-style: groove;
    border-width: 3px;
    margin: auto;
}

legend {
    font-weight: 700;
    font-size: 2.5rem;
}