@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

$font-anton: 'Anton', sans-serif;
$font-cabin: 'Cabin', sans-serif;
$font-nanum: 'Nanum Gothic Coding', monospace;

$clr-primary: #171A21;
$clr-secondary: #5B84E3;
$clr-light-blue: #9BAFDE;
$clr-dark-blue: #26375E;
$clr-gray: #7887AB;

$img-width: 6rem;